*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f7f7f7;
}

*::selection{
    color: white;
    background-color: black;
}

#nav{
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 2vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav-part1{
    height: 90px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 1rem;
}


#nav-part2 a{
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    color: black;
}

#icons{
    background-color: #f7f7f7;
    padding: 5px;
    border-radius: 50px;
}

#nav-part2 #icons i{
    margin: 0 1rem ;
}

#cursor{
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
    
}

#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding:  1vw;
}

#heading{
    padding-top: 25vh;
}

#page1 h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19vw;
    text-transform: uppercase;
    line-height: .8;
    letter-spacing: -10px;
}

#video-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vh;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    height: 4vw;
    width: 4vw;
    padding: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-size: 2vw;
    text-transform: uppercase;
    font-family:'Roboto Condensed', sans-serif ;
    border-radius: 50%;
    position: absolute;
    font-weight: 500;
    opacity: 0;
    scale: 0;
    z-index: 2;
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: aliceblue;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 1vw;

}

#page2 .elem{
    height: 100vh;
    width: 31%;
    /* background-color: aqua; */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}


#page2 .elem .dets{
    height: 60px;
    width: 70%;
    position: absolute;
    background-color: aqua;
    z-index: 2;
    border-radius: 50px;
}

#page2 .elem .dets:hover{
    height: 200px;
}

#page3{
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.child{
    height: 50vh;
    width: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img{
    height: 100%;
    width: 100%;
    object-fit: contain ;
}

@media (max-width:600px) {
    #page1{
        min-height: 70vh;
        padding:  1.5vw;
    }
    #page1 h1{
        font-size: 20vw;
        letter-spacing: -3px;
    }
    #video-container{
        margin-top: 3vh;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #video-container #play{
        position: absolute;
        padding: 15vw;
        font-size: 5vw;
        opacity: 1;
        scale: 1;
    }
    #page2{
        min-height: 100vh;
        flex-direction: column;
    
    }
    #page2 .elem{
        height: 100%;
        width: 100%;
        padding: 4vh 1.5vw;
    }

}